.simple-loading__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  z-index: -1;
  text-align: center;
  transition: opacity 0.5s;
  pointer-events: none;
  opacity: 0;
}

.simple-loading__overlay.active {
  z-index: 99999;
  opacity: 1;
}

.simple-loading__spinner {
  -webkit-animation: App-logo-spin infinite 0.5s linear;
  animation: App-logo-spin infinite 0.5s linear;
  font-size: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px auto auto -25px;
  color: #005696;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
